<template name="TeamCreate">
	<div id="team-create">
		<form class="account-forms">
			<h2>Create a new team</h2>
			<p>To allow teams to register names that have already been taken, we use a Unique ID to publicly identify team profile pages. Your team's profile will be located at <em>ezmid.com/team/uniqueid</em>.</p>

			<div class="form-group">
				<label for="name">Name*</label>
			    <input type="text" id="name" pattern="[a-zA-Z0-9_][a-zA-Z0-9_ ]*[a-zA-Z0-9_]{2,16}" required>
			</div>

			<div class="form-group">
				<label for="url">Unique ID*</label>
			    <input type="text" id="url" required>
			</div>

			<div class="form-group">
				<label for="tag">Tag</label>
			    <input type="text" id="tag">
			</div>

			<h3>Security</h3>
			<p>All teams are created private and require a password to join.</p>

			<div class="form-group half-input">
				<label for="password">Create Password*</label>
			    <input type="password" id="password" required>
			</div>

			<div class="form-group half-input">
				<label for="confirm">Confirm Password*</label>
			    <input type="password" id="confirm" required>
			</div>

			{{> FormError}}

		   	<button type="submit" class="button">Create Team</button>
		</form>
	</div>
</template>