<template name="TeamProfile">
	<div class="team-profile">
		<div class="team">
			<div class="container">
				<div class="team-image">
					<img src="/team-photo.jpg">
					
					<div class="team-actions">
						<a id="heart" class="profile-button"><span class="icon-star"></span></a>
				        {{#if team.likes}}
				            <span class="beep">{{team.likes}}</span>
				        {{/if}}
					</div>
				</div>

				<div class="team-meta">
					<h2 class="team-name">{{team.name}}</h2>
					<span class="team-tag">{{team.tag}}</span>
					<ul>
						<li>Country: {{team.country}}</li>
						<li>Website: {{team.website}}</li>
						<li>Divisions: {{team.division}}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="roster">
			<div class="container">
				<h3>Rosters</h3>
				<ul>
					{{#each division}}
						<li><a href=""></a></li>
					{{/each}}
				</ul>
				{{#each team.members}}
					
				{{/each}}
			</div>
		</div>
	</div>
</template>