.GlobalNav {
	position: fixed;
	left: 0;
	top: 0;
	width: 200px;
	height: 100%;
	background-color: #001217;
	z-index: 1;
}

.GlobalNav-mast {
	height: 70px;
	color: #F1F1F1;
	text-align: center;
}

.GlobalNav-menu {
	background-color: #0C1719;
}

.GlobalNav-menu ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}

.GlobalNav-menu li {
	padding: 10px 0;
}

.GlobalNav-menu li a {
	text-decoration: none;
	text-transform: capitalize;
	color: #FFF;
}

.UserNav {
	position: fixed;
	top: 0;
	left: 200px;
	line-height: 70px;
	height: 70px;
	width: 100%;
	padding-left: 60px;
	background-color: #F1F1F1;
}

.UserNav header {
	font-family: 'Source Sans Bold';
	font-size: 24px;
}

.UserNav .Search {
	float: right;
}

.UserNav .Search input[type=text] {
	border: none;
	background-color: #CCC;
}
