<template name="UserProfile">
	<div class="user-profile">
		{{#with user}}
		<div class="user">
			<div class="container">
				<div class="user-image">
					<img src="/user-photo.jpg">

					<div class="user-actions">
				        {{#if this.profile.likes}}
				            <span class="beep">{{user.profile.likes}}</span>
				        {{/if}}

						{{#if currentUser}}
							<a id="like" class="profile-button"><span class="icon-heart"></span></a>
							<a id="" class="profile-button"><span class="icon-star"></span></a>
							<a id="" class="profile-button"><span class="icon-flag"></span></a>
							<a id="edit" class="profile-button"><span class="icon-cog"></span></a>
						{{/if}}
					</div>
				</div>

				<div class="user-meta">
					<h2 class="user-handle">{{user.profile.handle}}</h2>
					{{#if user.profile.team.url}}
						<span class="user-team"><a href="/team/{{user.profile.team.url}}">{{user.profile.team.name}}</a></span>
					{{/if}}
					<ul>
						<li>Full Name: {{user.profile.first_name}} {{user.profile.last_name}}</li>
						<li>Hometown: {{user.profile.hometown}}</li>
						<li>Birthdate: {{user.profile.birthdate}}</li>
					</ul>

					<ul class="social">
						<li><img src="/twitter.png" alt=""></li>
						<li><img src="/twitch.png" alt=""></li>
						<li><img src="/steam.png" alt=""></li>
						<li><img src="/xbox.png" alt=""></li>
						<li><img src="/youtube.png" alt=""></li>
					</ul>
				</div>
			</div>
		</div>


		<div class="game">
			<div class="container">
				<div class="user-game-meta">
					<ul>
						<li>Role: Offlane</li>
						<li>Favorite Heroes: Clockwork, Lion, Earthshaker</li>
						<li>Stuff</li>
						<li>Stuff</li>
					</ul>
				</div>
			</div>
		</div>
		{{/with}}
	</div>
</template>