.Search {
	float: left;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #FFF;
}

.Search input {
	padding: 0 0 0 20px;
	width: 379px;
	height: 40px;
	border: none;
	border-bottom: 1px solid #C3D3FD;
	background-color: #6C7180;
	outline: none;
}

.search .search-results {
	display: none;
	float: left;
	position: absolute;
	top: 40px;
	background-color: #1f222a;
	width: 400px;
	min-height: 40px;
	color: #FFF;
	z-index: 2;
}

.search .search-results ul {
	margin: 0 0;
	padding-left: 0;
	list-style: none;
}

.search .search-results ul a li {
	padding-left: 20px;
}

.search .search-results ul a {
	text-decoration: none;
	color: #8389B3;
}

.search .search-results ul li:hover {
	background-color: #EEE;
}

.search .search-results img {
	float: left;
	margin-right: 10px;
}

.search ::-webkit-input-placeholder { /* WebKit browsers */
    color: #BBB;
}

.search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #444;
   opacity: 1;
}

.search ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #444;
   opacity: 1;
}

.search :-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #444;
}